[user]
	name = writa
	email = kz.writa@gmail.com
[core]
	excludesfile = /Users/raita/.gitignore
[color]
	ui = auto
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\\\"%h %ad | %s%d [%an]\\\" --graph --date=short
