[user]
	name = writa
	email = kz.writa@gmail.com
[color]
	ui = auto
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	sh = stash
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	prum = pull --rebase upstream master
[core]
	excludesfile = ~/.gitignore
	editor = /usr/bin/vim
